#Réécriture de l'URL de type xxx/yyy/zzz/000 en index.php?controleur=www&action=yyy&id=zzz&numero=000
RewriteEngine on
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controleur=$1&action=$2&id=$3&numero=$4 [NC,L]