html, body {
    height: 100%;
}

body{
    color: #333333;
    margin: 0 auto;
    min-width: 320px;
    min-height: 480px;
    font-family: Brushtp, Calligraffiti, Candara;
}
/*Police de caractère*/
@font-face{
    font-family: 'Brushtp';
    src: url('BRUSHSTP/BRUSHSTP.eot');
    url('BRUSHSTP/BRUSHSTP.woff') format('woff'),
    url('BRUSHSTP/BRUSHSTP.ttf') format('truetype'),
    url('BRUSHSTP/BRUSHSTP.svg#webfont') format('svg');
}
@font-face{
    font-family: 'Calligraffiti';
    src: url('Calligraffiti/Calligraffiti.eot');
    url('Calligraffiti/Calligraffiti.woff') format('woff'),
    url('Calligraffiti/Calligraffiti.ttf') format('truetype'),
    url('Calligraffiti/Calligraffiti.svg#webfont') format('svg');
}
/* Page d'accueil*/
#titreSites{

}
#global{
    /*margin-left: 50px;
    margin-right: 50px;*/
}
#iconeNavigation{
    position: absolute;
    right: 0;
    top: 0;
}
#headerAccueil{
    height: 350px;
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#headerIntroduction{
    margin-bottom: 50px;
}
#introduction{
    font-size: 2.1em;
}
#btnCommencer{
    /*text-align: center;*/
}
.header{
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
}
section{
    text-align: center;
    margin: 100px 20px 100px 20px;
}

.titreChapitre, #titreReponses{
    text-align: center;
    justify-content: center;
    color: #000000;
}
.chapitre{
    text-align: justify;
    padding-right: 50px;
    padding-left: 50px;
}
#contenu{
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.commentaire {
    text-align: left;
    margin: 20px;
}
.signalement {
    color: orangered;
}
footer{
    text-align: center;
}
#alert{
    display: none;
}
th{
    text-align: center;
}
.page{
    text-align: right;
    font-size: 1.3em;
}
#adminCommentaire{
    margin-bottom: 25px;
}
#tableMatiere{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}