html, body {
    height: 100%;
}

body{
    color: #333333;
}
#titreSites{
    text-align: center;
}
#global{
    margin: 150px;
}
.titreChapitre, #titreReponses{
    color: #000000;
}
.chapitre{
    text-align: justify;
}
.commentaire {
    margin: 10 px;
}
.msgErreur {
    color: red;
}
.msgRetour {
    color: green;
}
.signalement {
    color: orangered;
}